<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles1.css">
    <title>GiveTheInnerYou</title>
</head>
<body>
    <div class="login_form">
        <h1 style="font-family: Dancing Script, cursive;;" ><a href="/login">Login</a> or <a href="/register">Register</a> to Continue</h1>
    </div>
    <footer class="connect-footer">
        <div class="connect">
            <h5>Connect with me on <a href="https://www.linkedin.com/in/praveen-t-v-n-s-5393ab223/">Linkedin</a></h5>
            <h5>Email: thotapraveen2004@gmail.com</h5>
        </div>
    </footer>
</body>
</html>