<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiveTheInnerYou</title>
    <link rel="stylesheet" href="styles1.css">
</head>
<body>
    <div class="login_form">
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <p>Don't have an account?</p>
            <a href="/register">Sign Up</a>
            <button type="submit">Login</button>
        </form>
    </div>
    <footer class="connect-footer">
        <div class="connect">
            <h5>Connect with me on <a href="https://www.linkedin.com/in/praveen-t-v-n-s-5393ab223/">Linkedin</a></h5>
            <h5>Email: thotapraveen2004@gmail.com</h5>
        </div>
    </footer>

</body>
</html>